<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	class="no-js">
<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
</head>
<body>
	<div style="text-align: center;">
		<h2>비밀번호 변경</h2>
		<hr>
		<form action="/closet/changePw/changePw.do" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<div>
				<label><span>PASSWORD</span> <input type="password" id="pw1" name="password"
					placeholder="PASSWORD" onfocus="this.placeholder = ''"
					onblur="this.placeholder = 'PASSWORD'"
					onkeyup="this.value=this.value.replace(' ','')" required maxlength="20"></label>
			</div>
			<div>
				<label><span>PASSWORD CHECK</span> <input type="password" id="pw2" placeholder="PASSWORD CHECK"
					onfocus="this.placeholder = ''"
					onblur="this.placeholder = 'PASSWORD CHECK'"
					onkeyup="this.value=this.value.replace(' ','')"
					oninput="checkPassword()" required maxlength="20"> 
					<span class="password_ok" style="color: green; display: none;">비밀번호가 일치합니다.</span> 
					<span class="password_fail" style="color: red; display: none;">비밀번호가 일치하지 않습니다.</span></label>
			</div>
			<br>
			<div>
				<button type="submit">변경하기</button>
			</div>
		</form>
	</div>
	
	<script type="text/javascript">
	
		//비밀번호 확인
		function checkPassword() {
			//console.log(document.querySelector('#pw1').value)
			//console.log(document.querySelector('#pw2').value)
			// 비밀번호 일치하지 않을 때
			if(document.querySelector('#pw1').value != document.querySelector('#pw2').value) {
				document.querySelector(".password_fail").style.display = "inline-block";
				document.querySelector(".password_ok").style.display = "none";
			} 
			// 비밀번호 일치할 때
			else if(document.querySelector('#pw1').value == document.querySelector('#pw2').value) {
				document.querySelector(".password_ok").style.display = "inline-block";
				document.querySelector(".password_fail").style.display = "none";
			} 
			// password에 아무 입력 없을 때
			else {
				document.querySelector(".password_ok").style.display = "none";
				document.querySelector(".password_fail").style.display = "none";
			}
		};
	
	</script>
	
</body>
</html>