<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	class="no-js">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
</head>
<body>
	<div style="text-align: center;">
		<div>
			<h3>비밀번호 찾기</h3>
		</div>
		<form action="/closet/findPw/findPw.do" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<div>
				<p>
					<label>ID</label>
					<input type="text" id="username" name="username" required>
				</p>
				<p>
					<label>Email</label>
					<input type="text" id="email" name="email" required>
				</p>
				<p>
					<button type="submit">찾기</button>
					<button type="button" onclick="history.go(-1);">취소하기</button>
				</p>
			</div>
		</form>
	</div>
</body>
</html>